.t-h1
{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 60px;
    color:#111111;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1
{
    margin: 0px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 60px;
    color:#111111;
}
span
{
    color: #4A4FF2;
}

h2
{
    font-family: 'Mulish';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.42307689785957336px;
    text-align: left;

}

.t-h2
{
    color: #4A4FF2;
}

#h3-italic
{
    font-family: Mulish;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
}

#h3-o
{
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400 bold;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    opacity: 0.5;
}


h3
{
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400 bold;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
}

li
{
    font-family: Mulish;
    font-size: 18px;
    font-style: bold;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    color: #111111;
}

h4
{
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}
p
{
    font-family: Mulish;
    font-size: 16px;
    font-style: bold;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;

}

form
{
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; 
    letter-spacing: 0px;
    text-align: left;
}

