@import 'header';
@import 'wrapper-three';
@import 'footer';
@import 'fonts';


.c-h1
{
    margin: 0px;
    width: 330px;
    grid-column: 2 / 6;
    grid-row: 2 /3;
}

.c-p1
{
    width: 330px;
    grid-column: 2 / 6;
    grid-row: 4 / 6;
}

.form-container
{
    grid-column: 8 / 13 ;
    grid-row: 2 / 8;
}

.form
{
    width: 380px;
    height: 291px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

label
{
    opacity: 0.6;
}

input
{
    border: none;
    border-bottom: 2px solid #D8D8D8 ;
}

button
{
    width: 125px;
    height: 50px;
    border-radius: 0px;
    background: #4A4FF2;
    color: white;
}

button:hover
{
    cursor: pointer;
}


.map
{
    background-image: url(/images/Map.png);
    overflow: hidden;
    grid-column: 2/13;
    grid-row: 8 / 15;
}